.hero{
  background: black;
  height: 100vh;
}



.texto{
  display: flex;
  position: absolute;
  top: 30%;
  left: 20px;
  right: 20px;
}

.legenda{
  font-size: 24px;
  margin-top: 2px;
}

.button-experimentar{
  background-color: rgb(197, 68, 197);
  color: white;
  border: none;
  padding: 16px 32px 16px 32px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.informacoes{
  margin-right: 150px;
}


h1{
  font-weight: bolder;
  font-size: 62px;
  margin-bottom: 0;
}